@charset "UTF-8";


/* Háttér beállítása */
body {
    background-image: url("img/hatter.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Hiperhivatkozások formázása */
a:link {
    color: steelblue; /* Unvisited link */
}

a:visited {
    color: firebrick; /* Visited link */
}


/* Kijelölés színének, hátterének megadása */
::selection {
    color: red;
    background: black;
}


/* Cards */
.card {
    transition: .4s;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 25px;
    box-shadow: 2px 2px 5px #ccc;
    color: black;
}

.card:hover {
    box-shadow: 0 0 0 #fff;
}

.card img {
    border-radius: 0;
}

h5.card-title {
    font-size: 20px;
    color: gray;
    font-weight: bold;
    padding-top: 15px;
}

.card-body {
    padding-bottom: 0;
}


/* Háttér, egyebek */
#feher {
    background-color: white;
    text-align: justify;
}

.container {
    font-family: 'PT Mono', monospace;
}

img {
    border-radius: 10px;
}

h1 {
    color: gray;
    font-weight: bold;
    border-bottom: 5px solid gray;
    margin-top: 10px;
}

.row {
    padding-bottom: 20px;
    padding-top: 10px
}

#terkoz {
    padding-top: 0;
}


/* Menübeállítás */
#nav {
    background: rgba(0, 0, 0, 1);
}

a.nav-link {
    color: white;
    font-size: 20px;
}

a.nav-link:hover {
    color: red;
}


/* Oldal tetejére gomb */
#button {
    display: inline-block;
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: background-color .3s, 
        opacity .5s, visibility .5s;
}

#button:hover {
    cursor: pointer;
    background-color: orangered;
}

#button:active {
    background-color: #555;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: black;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/* Animáció */
#figyelem {
    animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    -webkit-animation: shake-horizontal 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}