@charset "UTF-8";

* {
    font-family: 'PT Serif', serif;
    font-size: 16px;
}


/* Menü beállítás */
#active {
    color: DarkGreen;
    border-bottom: 3px solid DarkGreen;
}

#Ferrari:hover {
    color: red;
    border-bottom: 3px solid red;
}

#Mclaren:hover {
    color: orange;
    border-bottom: 3px solid orange;
}

#Williams:hover {
    color: DeepSkyBlue;
    border-bottom: 3px solid DeepSkyBlue;
}

#fooldal {
    border-bottom: 3px solid transparent;
}

#fooldal:hover {
    color: white;
    border-bottom: 3px solid white;
}

#quiz:hover {
    color: white;
    border-bottom: 3px solid white;
}

#nav {
    background: rgba(0, 0, 0, 0.8);
}


/* Címsorok formázása */
h1 {
    color: white;
    background-color: DarkGreen;
    font-weight: bold;
    border-bottom: 5px solid yellow;
    animation: focus-in-expand-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation: focus-in-expand-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h2 {
    color: green;
}


/* Ghost Button */
.btn:link, .btn:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-ghost:link, .btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover, .btn:active {
    background-color: #cf6d17;
}

.btn-full:hover, .btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


/* Hiperhivatkozások formázása */
a:link {
    color: steelblue; /* Unvisited link */
}

a:visited {
    color: firebrick; /* Visited link */
}


/* A képek és szövegük formázása */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: white;
}


/* Háttér beállítása */
body {
    background-image: url("img/csapat_hatter.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#feher {
    background-color: white;
    text-align: justify;
}

.row {
    padding-bottom: 20px;
    padding-top: 10px
}


/* Kijelölés színének, hátterének megadása */
::selection {
    color: red;
    background: black;
}


/* Animáció */
@keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-800px);
        transform: translateZ(-800px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
@-webkit-keyframes focus-in-expand-fwd {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-800px);
        transform: translateZ(-800px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}