@charset "UTF-8";

* {
    font-family: 'Lora', serif;
}


/* Cols */
.col-sm-12, .col-md-4 {
    padding: 2px 4px 4px 4px;
}


/* Cards */
.card {
    position: relative;
    bottom: 0;
    transition: .3s;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px #b9b9b9;
    color: black;
    border-radius: 0;
    animation: rotate-in-2-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-animation: rotate-in-2-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.card:hover {
    box-shadow: none;
    bottom: 3px;
}

.card img {
    border-radius: 0;
}

p.card-title {
    color: #000;
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
}

.card-body {
    padding: 0;
}


/* Kijelölés színének, hátterének megadása */
::selection {
    color: red;
    background: black;
}


/* Menü beállítás */
a.nav-link {
    color: white;
    font-size: 20px;
}

a.nav-link:hover {
    color: red;
}

#nav {
    background-color: black;
}


/* Oldal tetejére gomb */
#button {
    display: inline-block;
    background-color: red;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: background-color .3s, 
        opacity .5s, visibility .5s;
}

#button:hover {
    cursor: pointer;
    background-color: orangered;
}

#button:active {
    background-color: #555;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: black;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/* Animáció */
@keyframes rotate-in-2-fwd {
    0% {
      -webkit-transform: translateZ(-200px) rotate(-45deg);
              transform: translateZ(-200px) rotate(-45deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0) rotate(0);
              transform: translateZ(0) rotate(0);
      opacity: 1;
    }
  }
@-webkit-keyframes rotate-in-2-fwd {
  0% {
    -webkit-transform: translateZ(-200px) rotate(-45deg);
            transform: translateZ(-200px) rotate(-45deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) rotate(0);
            transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}